Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
row2 = df.iloc[1].values
print(row2)

['Machine Learning' 3]

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the 
variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [4]:
new_df = df.reindex([3,0,1,2])

In [5]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [6]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.

As we can see, the output for new_df.loc[2] and new_df.iloc[2] is different because they are selecting different rows in the new_df DataFrame. new_df.loc[2] selects the row with the label 2 (which is the third row in the new DataFrame), whereas new_df.iloc[2] selects the row with index position 2 (which is the second row in the new DataFrame).

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [8]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.063915  0.956854  0.007607  0.628149  0.135879  0.305607
2  0.107673  0.482732  0.691494  0.780853  0.488702  0.647810
3  0.175576  0.059135  0.906496  0.532093  0.162002  0.630568
4  0.804091  0.153109  0.528730  0.245540  0.497505  0.255150
5  0.114913  0.145253  0.123877  0.145629  0.606994  0.413701
6  0.111930  0.519358  0.524662  0.780462  0.262237  0.503747

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column_1, ‘column_2’

In [ ]:
df1.mean(axis=1)

In [ ]:
col1_std = df1['column_1'].std()
col2_std = df1['column_2'].std()

In [ ]:
col1_std #standard deviation of column_1

In [ ]:
col2_std  #standard deviation of column_2

Q5. Replace the data present in the second row of column_1, column_2 by a string variable then find the mean of column_1, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [ ]:
variable1 = "pw"

df1.loc[2, ['column_1', 'column_2']] = variable1

In [ ]:
df1

In [ ]:
df1['column_1'].mean()

Running this code will give a TypeError since you cannot take the mean of a column that contains both numeric and non-numeric values. In this case, the values in column_1 and column_2 are numeric, except for the value in the second row, which is a string.

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function is a way to perform calculations on a specific subset, or "window," of a larger dataset. Window functions allow you to perform calculations such as rolling averages, cumulative sums, and more, while taking into account the order and grouping of the data.

There are several types of window functions in pandas, including:

1) Rolling Window Functions: These functions calculate metrics over a rolling window of a specified size, where the window "rolls" over the data in a specified order.

2) Expanding Window Functions: These functions calculate metrics over an expanding window that grows with the data. In other words, the window size starts at a minimum and gradually expands to include more and more data as it becomes available.

3) Cumulative Window Functions: These functions calculate metrics based on the cumulative values of a column up to the current row.

4) Grouped Window Functions: These functions perform window calculations based on groups of data defined by a specific column or set of columns.

Overall, window functions provide a powerful and flexible way to perform complex calculations on time-series data, financial data, and many other types of data where the order and grouping of the data are important factors in the analysis.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [ ]:
import datetime

# Get the current date
now = datetime.datetime.now()

# Print the current month and year
print("Current month:", now.strftime("%B"))
print("Current year:", now.year)

In [ ]:
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [12]:
import pandas as pd

first_date = input("Enter the first date in the format of YYYY-MM-DD : ")
second_date = input("Enter the second date in the format of YYYY-MM-DD : ")

first_date = pd.to_datetime(first_date)
second_date = pd.to_datetime(second_date)

timedelta = second_date - first_date
days = timedelta.days
hours = timedelta.seconds // 3600
minutes = (timedelta.seconds // 60) % 60

print("The difference between", first_date.date(), "and", second_date.date(), "is:")
print(days, "days", hours, "hours", minutes, "minutes")

Enter the first date in the format of YYYY-MM-DD : 2023-05-01
Enter the second date in the format of YYYY-MM-DD : 2021-05-01
The difference between 2023-05-01 and 2021-05-01 is:
-730 days 0 hours 0 minutes

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the file path: ")
col_name = input("Enter the column name: ")
categories = input("Enter the category order (comma-separated): ").split(",")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the specified column to a categorical data type with the specified category order
df[col_name] = pd.Categorical(df[col_name], categories=categories, ordered=True)

# Sort the DataFrame by the specified column
df = df.sort_values(by=col_name)

# Print the sorted data
print(df)

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file into a pandas DataFrame
sales_data = pd.read_csv(file_path)

# Group the data by product category and date, and sum the sales values
sales_data = sales_data.groupby(['Product Category', 'Date']).sum().reset_index()

# Pivot the data to create a stacked bar chart
sales_data_pivot = sales_data.pivot(index='Date', columns='Product Category', values='Sales')

# Plot the stacked bar chart
sales_data_pivot.plot(kind='bar', stacked=True, figsize=(10,6))

# Set the chart title and axis labels
plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

# Display the chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the following:
I Prompt the user to enter the file path of the CSV file containing the student data.
I Read the CSV file into a Pandas DataFrame.
I Calculate the mean, median, and mode of the test scores using Pandas tools.
I Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [ ]:
import pandas as pd

# Prompt the user to enter the file path of the CSV file containing the student data
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file into a pandas DataFrame
student_data = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores using pandas
mean_score = student_data['Test Score'].mean()
median_score = student_data['Test Score'].median()
mode_score = student_data['Test Score'].mode()

# Display the results in a table
results_table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean_score, median_score, mode_score]})
print(results_table)